<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="imagens">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width-device-width" />
<title>SmartCompras</title>
</head>
<body ng-controller="FotosController" class="ng-scope">

	<nav class="navbar navbar-inverse" id="menu">

		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SmartCompras</a>
			</div>

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="home">Home</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Lista <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="listadecompras">Lista de Compras</a></li>
							<li><a href="listapre">Lista de Predefinida</a></li>
						</ul></li>

					<li><a href="#">Localização</a></li>
					<li class="dropdown"><a href="localizacao"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-expanded="false">Gráficos <span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="gastos">Acumulado do Ano</a></li>
							<li><a href="maiorgasto">Maior Gasto</a></li>
							<li><a href="#">Menor Gasto</a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Painel Administrativo <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="produto">Cadastro Produto</a></li>
							<li><a href="listaproduto">Lista de Produtos</a></li>
							<li><a href="marca">Cadastro Marca</a></li>
							<li><a href="listamarca">Lista de Marca</a></li>

						</ul></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Localize" />

						<button id="busca" type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</form>

				<ul class="nav navbar-nav navbar-right">

					<li><a href="home"> Logout </a></li>
				</ul>

			</div>

		</div>

	</nav>


	<div class="container" th:fragment="produto">


		<div class="fotoProduto">
			<img class="img-responsive" alt="{{titulofoto}}" src="{{url}}" />

		</div>



		<form class="form-horizontal form-produtos" action="/addprodutos"
			method="POST" >
			<fieldset>
				<legend>Produtos</legend>
				<p>
					<label class="control-label" for="produto">Produto</label> <input
						class="form-control input-sm" type="text" id="produto"
						name="produto" size="40" ng-mode="titulofoto" />
				</p>

				<p>
					<label class="control-label" for="imgProduto">Imagem do
						Produto</label> <input class="form-control input-sm" value="img/produtos/"
						type="text" id="imgProduto" name="imgProduto" size="40"
						ng-model="url" />

				</p>
				<p>
					<label for="marca" class="control-label">Marca</label> <input
						class="form-control input-sm" type="text" id="marca" name="marca"
						size="40" />

					<select class="form-control">
					  <option 	th:each="marca : ${marcaList}"
					  			th:value="${marca.marca}"
					  			th:text="${marca.marca}" >  
					  </option>
					  
					</select >


				</p>
				<p>

					<label for="tipo" class="control-label">Tipo Produto</label> <select
						class="form-control" id="tipoProduto" name="tipoProduto">
						<option>Bebidas</option>
						<option>Biscoitos</option>
						<option>Bomboniere</option>
						<option>Carnes</option>
						<option>Cereais</option>
						<option>Congelados</option>
						<option>Conservas</option>
						<option>Higiene</option>
						<option>Hortifrutigrangeiro</option>
						<option>Laticíneos</option>
						<option>Limpeza</option>
						<option>Massas</option>
						<option>Salgados</option>
						<option>Condimentos</option>

					</select>


				</p>

				
					<div class="col-lg-10 col-lg-offset-4 botoes">
						<input type="submit" class="btn btn-primary" value="Cadastrar" />
						<button type="reset" class="btn btn-warning">Cancelar</button>
					</div>
				




			</fieldset>
		</form>


	</div>
	
	<div th:include="rodape :: rodape"></div>

</body>
<!-- CSS -->
<link rel="stylesheet" href="css/estiloprodutos.css" />
<link rel="stylesheet" href="css/stylehome.css" />
<!-- CSS -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
	href="https://fonts.googleapis.com/css?family=Catamaran|Hammersmith+One|Imprima"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Angular -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
<script src="js/main.js"></script>
<script src="js/controllers/fotos-controller.js"></script>
<!-- Angular -->


</html>