<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SmartCompras</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="css/estilo.css" />
<link rel="stylesheet" href="css/estilo.css" />
<link rel="stylesheet" href="css/demo.css" />
<link
	href="https://fonts.googleapis.com/css?family=Catamaran|Hammersmith+One|Imprima"
	rel="stylesheet" />

<script src="https://code.jquery.com/ui/1.12.0/jqueryui.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>



	<div th:include="menu :: menu"> </div>
	
	
	
	

	<!--  -->








	<div th:include="rodape :: rodape"></div>
</body>
</html>